In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import sys
sys.path.append(os.path.abspath('..'))

from log_processing import process_log

In [60]:
file = "../../backtests/test.log"
trader_data, products_data, activities, trades = process_log(file)

In [61]:
kelp = products_data["KELP"]

In [69]:
mm_price = kelp["mm_price"]
mm_spread = kelp["mm_spread"]
vwap = kelp["vwap"]

nan_indices = mm_spread[mm_spread.isna()].index
indices_of_interest = []
for index in nan_indices:
    indices_of_interest.append(index - 1)
    indices_of_interest.append(index)

mm_price_interest = mm_price.loc[indices_of_interest].values
vwap_interest = vwap.loc[indices_of_interest].values

In [70]:
times = kelp["timestamp"].loc[indices_of_interest]
activity = activities[activities["timestamp"].isin(times)]
activity = activity[activity["product"] == "KELP"].reset_index()
activity["mm_price"] = mm_price_interest
activity["vwap"] = vwap_interest

In [73]:
activity[["mm_price", "vwap", "ask_price_1", "ask_volume_1", "ask_price_2", "ask_volume_2", "ask_price_3", "ask_volume_3", "bid_price_1", "bid_volume_1", "bid_price_2", "bid_volume_2", "bid_price_3", "bid_volume_3"]]

,mm_price,vwap,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3
0,2031.5,2031.44,2032,4,2033.0,29.0,NaN,NaN,2030,29,NaN,NaN,NaN,NaN
1,NaN,2031.50,2033,20,NaN,NaN,NaN,NaN,2030,14,NaN,NaN,NaN,NaN
2,2038.0,2038.00,2040,30,NaN,NaN,NaN,NaN,2036,30,NaN,NaN,NaN,NaN
3,NaN,2036.75,2037,4,2038.0,1.0,2039.0,1.0,2036,23,NaN,NaN,NaN,NaN
4,2035.5,2035.50,2037,22,NaN,NaN,NaN,NaN,2034,22,NaN,NaN,NaN,NaN
5,NaN,2034.88,2035,4,2036.0,2.0,2037.0,2.0,2034,22,NaN,NaN,NaN,NaN
6,2035.5,2035.48,2036,1,2037.0,29.0,NaN,NaN,2034,29,NaN,NaN,NaN,NaN
7,NaN,2034.75,2035,5,2036.0,2.0,2037.0,1.0,2034,27,NaN,NaN,NaN,NaN
8,2036.5,2036.50,2038,30,NaN,NaN,NaN,NaN,2035,30,NaN,NaN,NaN,NaN
9,NaN,2036.38,2037,8,2038.0,24.0,NaN,NaN,2035,14,NaN,NaN,NaN,NaN
10,2036.5,2036.50,2038,24,NaN,NaN,NaN,NaN,2035,24,NaN,NaN,NaN,NaN
11,NaN,2036.50,2038,23,NaN,NaN,NaN,NaN,2035,14,NaN,NaN,NaN,NaN
12,2036.5,2036.50,2038,30,NaN,NaN,NaN,NaN,2035,30,NaN,NaN,NaN,NaN
13,NaN,2036.50,2038,23,NaN,NaN,NaN,NaN,2035,13,NaN,NaN,NaN,NaN
14,2035.5,2035.54,2037,26,NaN,NaN,NaN,NaN,2036,1,2034.0,26.0,NaN,NaN
15,NaN,2035.50,2037,22,NaN,NaN,NaN,NaN,2034,13,NaN,NaN,NaN,NaN
16,2035.0,2035.05,2037,22,NaN,NaN,NaN,NaN,2034,2,2033.0,20.0,NaN,NaN
17,NaN,2035.50,2037,20,NaN,NaN,NaN,NaN,2034,12,NaN,NaN,NaN,NaN
18,2036.0,2036.03,2038,28,NaN,NaN,NaN,NaN,2036,1,2034.0,28.0,NaN,NaN
19,NaN,2034.91,2035,4,2036.0,5.0,2037.0,2.0,2034,22,NaN,NaN,NaN,NaN
20,2034.5,2034.50,2036,30,NaN,NaN,NaN,NaN,2033,34,NaN,NaN,NaN,NaN
21,NaN,2033.95,2034,3,2035.0,5.0,2036.0,2.0,2033,25,NaN,NaN,NaN,NaN
22,2034.0,2034.04,2036,23,NaN,NaN,NaN,NaN,2034,1,2032.0,23.0,NaN,NaN
23,NaN,2032.83,2033,5,2034.0,6.0,2035.0,1.0,2032,24,NaN,NaN,NaN,NaN
24,2033.5,2033.50,2035,27,NaN,NaN,NaN,NaN,2032,27,NaN,NaN,NaN,NaN
25,NaN,2033.50,2035,22,NaN,NaN,NaN,NaN,2032,14,NaN,NaN,NaN,NaN
26,2035.5,2035.50,2037,21,NaN,NaN,NaN,NaN,2034,21,NaN,NaN,NaN,NaN
27,NaN,2035.39,2036,6,2037.0,22.0,NaN,NaN,2034,12,NaN,NaN,NaN,NaN
28,2035.5,2035.35,2035,5,2037.0,29.0,NaN,NaN,2034,29,NaN,NaN,NaN,NaN
29,NaN,2035.50,2037,20,NaN,NaN,NaN,NaN,2034,11,NaN,NaN,NaN,NaN
30,2035.5,2035.50,2037,23,NaN,NaN,NaN,NaN,2034,28,NaN,NaN,NaN,NaN
31,NaN,2035.50,2037,20,NaN,NaN,NaN,NaN,2034,12,NaN,NaN,NaN,NaN
32,2033.5,2033.50,2035,26,NaN,NaN,NaN,NaN,2032,26,NaN,NaN,NaN,NaN
33,NaN,2033.50,2035,21,NaN,NaN,NaN,NaN,2032,10,NaN,NaN,NaN,NaN